h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: lighter;
}

.resumetitle {
  text-align: center;
  margin-bottom: 50px;
}

.holder {
  display: flex;
  flex-direction: row;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  width: 35%;
  align-items: space-between;
  padding: 60px;
  box-shadow: -2px 4px 38px -7px rgba(0, 0, 0, 0.25);
  /*page load animation goes here*/
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 00;
  }
  100% {
    opacity: 1;
  }
}

.resume {
  position: relative;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  background: #e6dace;
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 2em;
  width: 50%;
}

.jobdescription {
  display: flex;
  width: 50%;
}

#companylogo {
  width: 5em;
}
#companyposition {
  font-weight: bold;
}

#companyname {
  font-weight: bold;
  font-size: 1.2em;
  color: blueviolet;
}
#companyduration {
  font-size: 1em;
}

.skillset:hover {
  background: rgb(231, 226, 217);
}
